<table align="center" bgcolor="#eeeeee" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
<tbody>
<tr>
<td>
<table align="center" bgcolor="#eeeeee" border="0" cellpadding="0" cellspacing="0"
       width="690">
<tbody>
<tr bgcolor="#ffffff">
<td width="30">
</td>
<td>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="630">
<tbody>
<tr>
    <td colspan="3" style="padding: 0; margin: 0; font-size: 1; line-height: 0;"
        height="50" width="630">
        <img src="{{ asset('logo.jpg') }}">
    </td>
</tr>
<tr>
    <td colspan="3" style="padding: 0; margin: 0; font-size: 1; line-height: 0;">
        <h2 style="color: #404040; font-size: 22px; font-weight: bold; line-height: 26px; padding: 0; margin: 0;">
            您好jiayaomot，
        </h2>
    </td>
</tr>
<tr>
    <td colspan="3" height="20">
    </td>
</tr>
<tr>
    <td colspan="3">
        <div style="color: #404040; font-size: 16px; line-height: 20px; padding: 0; margin: 0;">
        </div>
    </td>
</tr>
<tr>
    <td colspan="3" height="30">
    </td>
</tr>
<tr>
    <td colspan="3">
        <table style="border-top-left-radius: 10px; border-top-right-radius: 10px;"
               align="center" bgcolor="#428bac" border="0" cellpadding="0" cellspacing="0"
               height="80" width="630">
            <tbody>
            <tr>
                <td width="20">
                </td>
                <td align="left" valign="middle" width="440">
                    <h3 style="color: #ffffff; font-size: 16px; line-height: 11px; font-weight: bold;  padding: 0; margin: 0;">
                        课程描述
                    </h3>
                </td>
                <td width="20">
                </td>
                <td width="130">
                    <h3 style="color: #ffffff; font-size: 16px; line-height: 11px; font-weight: bold;  padding: 0; margin: 0;">
                        预算
                    </h3>
                </td>
                <td width="20">
                </td>
            </tr>
            </tbody>
        </table>
        <table style="border-left: 1px solid #cccccc;border-right: 1px solid #cccccc;" align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="630">
            <tbody>
            <tr>
                <td colspan="5" style="margin: 0; padding: 0; font-size: 0; line-height: 0;"
                    bgcolor="#cccccc" height="1">
                </td>
            </tr>
            <tr>
                <td width="20">
                </td>
                <td style="padding: 16px 0;" align="left" height="86" valign="top" width="440">
                    <a target="_blank" href="https://www.freelancer.com/projects/PHP-Website-Design/Script-customization.6448729.html?utm_campaign=latest_project_contest&amp;utm_medium=email_notification&amp;utm_source=project_title&amp;utm_content=html&amp;ttref=Project_LPCNhtml"
                       style="color: #0070bf; font-weight: bold; font-size: 16px; line-height: 18px; padding: 0; margin: 0;">
                        Script customization
                    </a>
                    &nbsp;
                    <div style="color: #404040; font-size: 5px; line-height: 5px; padding: 0; margin: 0;">
                        &nbsp;
                    </div>
                    <div style="color: #404040; font-size: 12px; line-height: 14px; padding: 0; margin: 0;">
                        Hi, I bought a script similar to one used to build this site: [url removed,
                        login to view], and i would like to have someone customize it to meet my
                        needs. I'm not after a full blown customization - rather few adjustmen
                        ...
                        <a target="_blank" href="https://www.freelancer.com/projects/PHP-Website-Design/Script-customization.6448729.html?utm_campaign=latest_project_contest&amp;utm_medium=email_notification&amp;utm_source=project_title&amp;utm_content=html&amp;ttref=Project_LPCNhtml"
                           style="color: #0070bf; font-weight: normal;">
                            查看更多
                        </a>
                    </div>
                    <div style="color: #404040; font-size: 5px; line-height: 5px; padding: 0; margin: 0;">
                        &nbsp;
                    </div>
                    <div style="color: #808080; font-size: 12px; line-height: 16px; padding: 0; margin: 0;">
																	<span style="color: #404040; font-weight: bold;">
																		Skills:
																	</span>
                        精益管理 | 入职培训 | Lean
                    </div>
                </td>
                <td width="20">
                </td>
                <td style="padding: 16px 0;" align="left" valign="top" width="130">
                    <div style="color: #808080; font-size: 10px; line-height: 12px; font-weight: bold;  padding: 0; margin: 0;">
                    </div>
                    <div style="color: #404040; font-size: 16px; line-height: 18px; font-weight: bold;  padding: 0; margin: 0;">
                        $30-$250 USD
                    </div>
                    <div style="color: #404040; font-size: 5px; line-height: 5px; padding: 0; margin: 0;">
                        &nbsp;
                    </div>
                    <table style="font-family:Arial, sans-serif; margin: 0; padding: 0;" align="center"
                           cellpadding="0" cellspacing="0" width="130">
                        <tbody>
                        <tr>
                            <td style="margin: 0; line-height: 18px; font-size:14px; text-align: center;"
                                align="center">
                                <a target="_blank" href="https://www.freelancer.com/projects/PHP-Website-Design/Script-customization.6448729.html?utm_campaign=latest_project_contest&amp;utm_medium=email_notification&amp;utm_source=project_cta&amp;utm_content=html&amp;ttref=Project_LPCNhtml"
                                   style="font-size: 14px; text-decoration: none; color: #ffffff; font-weight: bold; padding: 8px 14px; display: block; background-color: #77be53; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;">
                                    立即购买
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td width="20">
                </td>
            </tr>
            <tr>
                <td colspan="5" style="margin: 0; padding: 0; font-size: 0; line-height: 0;"
                    bgcolor="#cccccc" height="1">
                </td>
            </tr>
            <tr>
                <td width="20">
                </td>
                <td style="padding: 16px 0;" align="left" height="86" valign="top" width="440">
                    <a target="_blank" href="https://www.freelancer.com/projects/PHP-MySQL/White-Hacking-Team.html?utm_campaign=latest_project_contest&amp;utm_medium=email_notification&amp;utm_source=project_title&amp;utm_content=html&amp;ttref=Project_LPCNhtml"
                       style="color: #0070bf; font-weight: bold; font-size: 16px; line-height: 18px; padding: 0; margin: 0;">
                        White Hacking Team
                    </a>
                    &nbsp;
                    <div style="color: #404040; font-size: 5px; line-height: 5px; padding: 0; margin: 0;">
                        &nbsp;
                    </div>
                    <div style="color: #404040; font-size: 12px; line-height: 14px; padding: 0; margin: 0;">
                        Hi All, we are Looking for talented White Hackers.
                    </div>
                    <div style="color: #404040; font-size: 5px; line-height: 5px; padding: 0; margin: 0;">
                        &nbsp;
                    </div>
                    <div style="color: #808080; font-size: 12px; line-height: 16px; padding: 0; margin: 0;">
																	<span style="color: #404040; font-weight: bold;">
																		Skills:
																	</span>
                        微软Exchange | MySQL | PHP | 网络主机
                    </div>
                </td>
                <td width="20">
                </td>
                <td style="padding: 16px 0;" align="left" valign="top" width="130">
                    <div style="color: #808080; font-size: 10px; line-height: 12px; font-weight: bold;  padding: 0; margin: 0;">
                    </div>
                    <div style="color: #404040; font-size: 16px; line-height: 18px; font-weight: bold;  padding: 0; margin: 0;">
                        $250-$750 USD
                    </div>
                    <div style="color: #404040; font-size: 5px; line-height: 5px; padding: 0; margin: 0;">
                        &nbsp;
                    </div>
                    <table style="font-family:Arial, sans-serif; margin: 0; padding: 0;" align="center"
                           cellpadding="0" cellspacing="0" width="130">
                        <tbody>
                        <tr>
                            <td style="margin: 0; line-height: 18px; font-size:14px; text-align: center;"
                                align="center">
                                <a target="_blank" href="https://www.freelancer.com/projects/PHP-MySQL/White-Hacking-Team.html?utm_campaign=latest_project_contest&amp;utm_medium=email_notification&amp;utm_source=project_cta&amp;utm_content=html&amp;ttref=Project_LPCNhtml"
                                   style="font-size: 14px; text-decoration: none; color: #ffffff; font-weight: bold; padding: 8px 14px; display: block; background-color: #77be53; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;">
                                    立即购买
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td width="20">
                </td>
            </tr>
            <tr>
                <td colspan="5" style="margin: 0; padding: 0; font-size: 0; line-height: 0;"
                    bgcolor="#cccccc" height="1">
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td colspan="3" height="30">
    </td>
</tr>
<tr>
    <td>
        <table style="font-family:Arial, sans-serif;" align="center" cellpadding="0"
               cellspacing="0">
            <tbody>
            <tr>
                <td style="margin: 0; line-height: 20px; font-size:16px; text-align: center;"
                    align="center">
                    <a target="_blank" href="https://www.freelancer.com/jobs/myskills/" style="font-size: 16px; text-decoration: none; color: #ffffff; font-weight: bold; padding: 14px 32px; display: block; background-color: #77be53; webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;">
                        查看更多我感兴趣的课程！
                        <img src="https://cdn3.f-cdn.com/img/email-images/common/arrow.png?v=c0213aebc469bba4d757e7b302c88736&amp;m=2">
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td colspan="3" height="40">
    </td>
</tr>
<tr>
    <td colspan="4">
        <div style="color: #404040; font-size: 18px; line-height: 22px; font-weight: normal; padding: 0; margin: 0;">
            此致，
        </div>
        <div style="color: #404040; font-size: 18px; line-height: 22px; font-weight: bold; padding: 0; margin: 0;">
            精益云学院团队。
        </div>
    </td>
</tr>
<tr>
    <td colspan="3" style="padding: 0; margin: 0; font-size: 1; line-height: 0;"
        height="50">
    </td>
</tr>
</tbody>
</table>
</td>
<td bgcolor="#ffffff" width="30">
    <img style="border:1px solid #d9d9d9" src="https://t.freelancer.com/1px.gif?acct=notifications.freelancer.com&amp;en=open&amp;user_id=6711589&amp;language=zh&amp;method=img"
         height="1" width="1">
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
    <td>
        <table align="right" bgcolor="#eeeeee" border="0" cellpadding="0" cellspacing="0"
               width="560">
            <tbody>
            <tr>
                <td colspan="2" height="30">
                </td>
            </tr>
            <tr>
                <td valign="top" width="400">
                    <div style="color: #a3a3a3; font-size: 14px; line-height: 14px; padding: 0; margin: 0;">
                        © 2014 精益云学院. 保留所有权利。
                    </div>
                    <div style="color: #a3a3a3; font-size: 14px; line-height: 14px; padding: 0; margin: 0;">
                        &nbsp;
                    </div>
                    <div style="color: #a3a3a3; font-size: 14px; line-height: 14px; padding: 0; margin: 0;">
                        <a target="_blank" href="https://www.freelancer.com/page.php?p=info/privacy"
                           style="color: #a3a3a3; text-decoration: underline;">
                            隐私策略
                        </a>
                        |
                        <a target="_blank" href="https://www.freelancer.com/page.php?p=info/terms"
                           style="color: #a3a3a3; text-decoration: underline;">
                            用户协议
                        </a>
                    </div>
                </td>

            </tr>
            <tr>
                <td colspan="2" height="80">
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
</tbody>
</table>