.activity-list .act-thumb {
    width: 120px;
    vertical-align: middle;
}

textarea {
    height: 400px;
}
a.style {
    padding: 8px;
    color: #428bca;
}

a.style:hover {
    padding: 8px;
    border-radius: 4px;
    background: #428bca;
    color: #ffffff;
    text-decoration: none;
}

.avatar img {
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 100%;
}