
<h5 class="subtitle mb5">课程分类</h5>
<div class="table-responsive">
    <table class="table mb30">
        <thead>
        <tr>
            <th>#</th>
            <th>分类</th>

            <th></th>
        </tr>
        </thead>

        <tbody>

        {% for category in categories %}
        <tr>
            <td>{{ category.sortId }}</td>
            <td>{{ category.name }}</td>

            <td class="table-action">
                <a href="#"><i class="fa fa-pencil"></i></a>
                <a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div><!-- table-responsive -->
