
<div class="logopanel">
    <h1>{{ 'layout.title' | trans | raw }} </h1>
</div><!-- logopanel -->

<div class="leftpanelinner">

    <!-- This is only visible to small devices -->
    <div class="visible-xs hidden-sm hidden-md hidden-lg">
        <div class="media userlogged">
            <img alt="" src="images/photos/loggeduser.png" class="media-object">
            <div class="media-body">
                <h4>{{ app.user.username }}</h4>
                <span>"Life is so..."</span>
            </div>
        </div>
    </div>

    <h5 class="sidebartitle">{{ 'layout.navigation' | trans | raw }}</h5>


    {{ knp_menu_render('main') }}

</div><!-- leftpanelinner -->