{% extends "AppFrontendBundle:Theme:layout.html.twig" %}

{% block moduleName %}个人信息 / 隐私{% endblock %}

{% block body %}

    <div class="row">


        <div class="col-sm-6 col-md-4">
            <div class="panel panel-dark panel-alt widget-quick-status-post">
                <div class="panel-heading">
                    <div class="panel-btns">
                        <a href="#" class="panel-close">×</a>
                        <a href="#" class="minimize">−</a>
                    </div><!-- panel-btns -->
                    <h3 class="panel-title">我的活动板</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active"><a href="#post-status" data-toggle="tab"><i class="fa fa-pencil"></i> <strong>Status</strong></a></li>
                        <li><a href="#post-privates" data-toggle="tab"><i class="fa fa-file-image-o"></i> <strong>Privates</strong></a></li>
                        <li class=""><a href="#post-photo" data-toggle="tab"><i class="fa fa-picture-o"></i> <strong>Photo</strong></a></li>
                        <li class=""><a href="#post-checkin" data-toggle="tab"><i class="fa fa-map-marker"></i> <strong>Check-In</strong></a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="post-status" class="tab-pane active">
                            <input class="form-control" placeholder="What's your status?" type="text">
                        </div>
                        <div id="post-privates" class="tab-pane">
                            {{ form(form) }}
                        </div>
                        <div id="post-photo" class="tab-pane">
                            <input class="form-control" placeholder="Choose photo" type="text">
                        </div>
                        <div id="post-checkin" class="tab-pane">
                            <input class="form-control" placeholder="Search location" type="text">
                        </div>

                    </div><!-- tab-content -->

                </div><!-- panel-body -->
            </div><!-- panel -->

            <div class="mb20"></div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="panel panel-warning panel-alt widget-today">
                        <div class="panel-heading text-center">
                            <i class="fa fa-calendar-o"></i>
                        </div>
                        <div class="panel-body text-center">
                            <h3 class="today">Fri, Dec 13</h3>
                        </div><!-- panel-body -->
                    </div><!-- panel -->
                </div>

                <div class="col-xs-6">
                    <div class="panel panel-danger panel-alt widget-time">
                        <div class="panel-heading text-center">
                            <i class="glyphicon glyphicon-time"></i>
                        </div>
                        <div class="panel-body text-center">
                            <h3 class="today">4:50AM PST</h3>
                        </div><!-- panel-body -->
                    </div><!-- panel -->
                </div>
            </div>
        </div><!-- col-sm-6 -->


        <div class="col-sm-6 col-md-4">
            <div class="panel panel-default widget-photoday">
                <div class="panel-body">
                    <a href="#" class="photoday"><img src="images/photos/photo1.png" alt=""></a>
                    <div class="photo-details">
                        <h4 class="photo-title">Strawhat In The Beach</h4>
                        <small class="text-muted"><i class="fa fa-map-marker"></i> San Franciso, California, USA</small>
                        <small>By: <a href="#">ThemePixels</a></small>
                    </div><!-- photo-details -->
                    <ul class="photo-meta">
                        <li><span><i class="fa fa-eye"></i> 32,102</span></li>
                        <li><a href="#"><i class="fa fa-heart"></i> 1,003</a></li>
                        <li><a href="#"><i class="fa fa-comments"></i> 52</a></li>
                    </ul>
                </div><!-- panel-body -->
            </div><!-- panel -->
        </div><!-- col-sm-6 -->

        <div class="col-sm-6 col-md-4">
            <div class="panel panel-default panel-alt widget-messaging">
                <div class="panel-heading">
                    <div class="panel-btns">
                        <a href="#" class="panel-edit"><i class="fa fa-edit"></i></a>
                    </div><!-- panel-btns -->
                    <h3 class="panel-title">消息</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>
                            <small class="pull-right">Dec 10</small>
                            <h4 class="sender">Jennier Lawrence</h4>
                            <small>Lorem ipsum dolor sit amet...</small>
                        </li>
                        <li>
                            <small class="pull-right">Dec 9</small>
                            <h4 class="sender">Marsha Mellow</h4>
                            <small>Lorem ipsum dolor sit amet...</small>
                        </li>
                        <li>
                            <small class="pull-right">Dec 9</small>
                            <h4 class="sender">Holly Golightly</h4>
                            <small>Lorem ipsum dolor sit amet...</small>
                        </li>
                        <li>
                            <small class="pull-right">Dec 10</small>
                            <h4 class="sender">Jennier Lawrence</h4>
                            <small>Lorem ipsum dolor sit amet...</small>
                        </li>
                        <li>
                            <small class="pull-right">Dec 9</small>
                            <h4 class="sender">Marsha Mellow</h4>
                            <small>Lorem ipsum dolor sit amet...</small>
                        </li>
                    </ul>
                </div><!-- panel-body -->
            </div><!-- panel -->
        </div><!-- col-sm-6 -->



    </div>

{% endblock %}